* button {
  color: black;
  background-color: white;
  margin: auto;
  height: 5vh;
  width: 20vh;
  text-align: center;
  cursor: pointer;
  font-family: "Lucida Console", monospace;
}

* section {
  padding-top: 5vh;
}

* h1, h2, label, nav{
  font-family: "Monaco", monospace;
}

/* tab css */
.container ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: 300px;
  background: #f1f1f1;
  margin: 100px 25% 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
  width: 100%;
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}

.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 3px);
  height: 10px;
  background: rgb(88, 147, 241);
}

/* .content button {
  border: none;
} */

.content-tabs {
  flex-grow : 1;
}

.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 95%;
  display: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.content h2 {
  padding: 0px 0 5px 0px;
}

.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}

.content p {
  width: 100%;
  height: 100%;
}

.active-content {
  display: block;
  border-top: none;
}

/* Recipe Detail CSS */
.Detail-div {
  text-align: left;
  justify-content: center;
  display: inline-grid;
  align-items: center;
  max-width: 50vh;
  padding: 5px;
}

.Detail-div button {
  border-radius: 8px;
  width: 9em;
  padding: auto;
  margin: auto;
  border: auto;
}

. Detail-div button:hover {
 background-color: silver;
}


.scheduleAndParameter-button {
  padding: 5%;
  display: flex;
  justify-content: space-around;
}

.backButtonRecipeDetail {
  margin-left: 180;
  font-size: 20;
  letter-spacing: 0.2em;
}

.backButtonToBeerList button {
  border-radius: 8px;
  display: block;
  position: absolute;
  top: 20%;
  left: 10%;
}

nav {
  background-color: #272727;
  color: #d8d8d8;
}

.beerListButton {
  display: flex;
  justify-content: space-evenly;

}

.buttonDiv {
  display: flex;
  justify-content: space-evenly;
  padding-top: 4vh;
}

.buttonDiv-RecipeDetailButton{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonDiv-RecipeDetailButton button {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 22%;
  top: 54%;
}

.buttonDiv-RecipeDetailButton h1 {
  font-size: 2em;
}

.buttonDiv-RecipeDetailButton button {
  border-style: none;
}

.buttonDiv button {
  width: 10vh;
}

.scheduleBeer {
  margin-top: 1vh;
  align-items: center;
}

.react-datetime-picker__wrapper {
  border-radius: 8px;
  width: 40vh;
  background-color: #D1512D;
}

.add-beer {
  text-align: center;
  margin: auto;
  margin-top: 20%;
  height: 60%;
  width: 60%;
  padding: 10px;
}

.BeerFormPhoto {
  max-width: 50vw;
  height: 51.2em;
}

.BeerForm-row {
  display: flex;
}

.BeerRecipeForm {
  max-width: 50%;
  margin: 2.2% auto;
  text-align: left;
  float: left;
  width: 33.33%;
  padding: 5px;
}

.BeerRecipeForm input, .BeerRecipeForm select {
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0px;
  border: 1px solid;
  box-sizing: border-box;
  margin-bottom: 14px;
  display: block;
  border-radius: 8px;
}

.BeerRecipeForm button {
  margin-top: 5%;
  height: 5%;
  padding: 8px;
  border-radius: 8px;
  width: 50%;
}

.Beer-Inventory-Setup {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.BeerList {
  max-width: 50vh;
  margin-left: 5%;
  padding-left: 30%;
  padding-top: 100px;
}

.BeerList h1 {
  font-family: "Monaco", monospace;
  text-align: center;
}


#selectButton {
  height: 5%;
  padding: 8px;
  width: 50%;
}

.ScheduleParameterButton {
  display: flex;
  flex-direction: column;
}

.ScheduleParameterButton button {
  border-radius: 8px;
  padding: 8px;
}

.BeerListBorder {
  border: 2px solid #0a0a0a;
  border-radius: 8px;
  padding-top: 7vh;
  padding-bottom: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  gap: 1em;
}

.BeerListBorder button {
  border-radius: 8px;
}

.beerInfo-div {
  width: 60vh;
  margin: auto;
  padding: 2vh;
  border-radius: 8px;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.keyName {
  font-family: "Monaco", monospace;
  font-size: 1rem;
  padding-top: 0.5rem;
}

.valueName {
  padding: 1rem 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  border-style: solid;
  border-width: 0.5px;
  font-family: "Courier New", monospace;
  width: 90%;
}


.hr {
  border-radius: 5px;
}
.beerInfo-div-button{
  display: inline;
  height: 100%;
  width: 100%;
}
.beerInfo-div-button button {
  margin-left: 52%;
  margin-top: 0.8vh;
  height: 5%;
  width: 15%;
}

/*calendar picker */

.react-datetime-picker__inputGroup{
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: auto;
}

.react-datetime-picker__wrapper {
  background-color: white;
}

.react-datetime-picker__clear-button react-datetime-picker__button {
  background-color: white;
}

.react-datetime-picker__button {
  width: 30px;
  height: 50;
  border-radius: 10px;
  color: #0a0a0a;
}

.react-calendar__navigation__label {
  width: 70%;
}

.calendarPage-div {
  display: grid;
  justify-content: center;
  padding: 15%;
}

.calendarPage-div button {
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.scheduleBeer {
  margin-top: 3vh;
  align-items: center;
  display: grid;
}

.scheduleBeer button{
  height: auto;
  width: auto;
  padding: 8px;
}

.react-datetime-picker__inputGroup span{
  padding-top: 4.4%
}


@media screen and (max-width: 780px) {
  * button {
    height: 4vh;
    width: 12vh;
    color: black;
    font-family: "Lucida Console", monospace;
  }

  * section {
      padding-top: 2.5vh;
  }

  .add-beer {
    text-align: center;
    margin: auto;
    margin-top: 60%;
    height: 50%;
    width: 60%;
    padding: 0vh;
  }
  .BeerFormPhoto {
    max-width: 100vh;
    height: 50vh;
    margin-top: 3vh;
  }

  .BeerForm-row {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
  }
  .BeerRecipeForm {
    max-width: 150%;
    text-align: left;
    width: 32vh;
    margin-bottom: 3vh;
  }
  .BeerRecipeForm input, .BeerRecipeForm select {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0px;
    border: 1px solid;
    box-sizing: border-box;
    margin-bottom: 14px;
    display: block;
    border-radius: 8px;
  }

  .BeerRecipeForm button {
    width: 8em;
  }

  .Beer-Inventory-Setup {
    min-height: 47em;
    margin-top: auto;
  }

  .BeerList {
    margin:  auto;
    text-align: center;
    font-size: 20px;
    padding: 0px;
    padding-top: 8%;
  }

  .BeerList h1 {
    font-size: 25px;
  }

  .BeerList button {
    height: 5%;
    font-size: 10px;
    margin-top: 5%;
  }

  .buttonDiv-RecipeDetailButton button {
    position: static;

  }
  .beerListIconButton {
    margin-top: 10%;
  }

  .beerInfo-div {
    width: 19em;
    margin-bottom: 2em;
    padding-bottom: 4em;
  }

  .content {
    width: 100%;
  }

  .Detail-div h1 {
    font-size: 1.6em;
  }

  .backButtonToBeerList button {
    top: 25%;
  }

  .beerInfo-div button {
    display: block;
    height: 4em;
    width: 6em;
  }

  .react-datetime-picker__inputGroup span{
    padding-top: 5px
  }

  .react-datetime-picker__inputGroup__leadingZero {
    align-self: center;
  }

  .react-calendar__navigation__label {
    width: 30%;
  }

  .content {
   height: 100%;
  }
}
