* button {
  color: white;
  margin: auto;
  height: 5vh;
  width: 20vh;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  background-color: #D1512D;
  font-family: "Lucida Console", monospace;
}

* section {
  padding-top: 5vh;
}

* h1, label, nav{
  font-family: "Monaco", monospace;
}

.beerListButton {
  display: flex;
  justify-content: space-between;
}

.beerListButton button:hover {
  background-color: red;
}

.buttonDiv {
  display: flex;
  justify-content: space-evenly;
  padding-top: 4vh;
}
.buttonDiv button {
  width: 10vh;
}

.scheduleBeer {
  margin-top: 1vh;
}

.react-datetime-picker__wrapper {
  border-radius: 8px;
  width: 40vh;
  background-color: #D1512D;
}

.add-beer {
  text-align: center;
  margin: auto;
  margin-top: 20%;
  height: 60%;
  width: 60%;
  padding: 10px;
}

.BeerFormPhoto {
  max-width: 50vw;
  height: 50em;
}

.BeerForm-row {
  display: flex;
}

.BeerRecipeForm {
  max-width: 50%;
  margin: 2.2% auto;
  text-align: left;
  float: left;
  width: 33.33%;
  padding: 5px;
}

.BeerRecipeForm input, .BeerRecipeForm select {
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0px;
  border: 1px solid;
  box-sizing: border-box;
  margin-bottom: 14px;
  display: block;
  border-radius: 8px;
}

.BeerRecipeForm button {
  margin-top: 5%;
  height: 5%;
  width: 50%;
}

.Beer-Inventory-Setup {
  background-color: #F5E8E4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.BeerList {
  max-width: 50vh;
  margin:  auto;
  text-align: center;
  padding: 5px;
}

.BeerList h1 {
  font-family: "Monaco", monospace;
}

.BeerList button {
  margin-top: 5%;
  height: 5%;
  width: 25%;
}

#selectButton {
  margin-top: 5%;
  height: 5%;
  width: 50%;
}

.BeerListBorder {
  border: 2px solid #9A1663;
  border-radius: 8px;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.beerInfo-div {
  border: 2px solid #9A1663;
  width: 60vh;
  margin: auto;
  padding: 2vh;
  border-radius: 8px;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.keyName {
  font-family: "Monaco", monospace;
  font-size: 1rem;
  padding-top: 0.5rem;
}

.valueName {
  padding: 1rem 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  border-style: solid;
  border-width: 0.5px;
  font-family: "Courier New", monospace;
}

.hr {
  border-radius: 5px;
}
.beerInfo-div-button{
  display: inline;
  height: 100%;
  width: 100%;
}
.beerInfo-div-button button {
  margin-left: 52%;
  margin-top: 0.8vh;
  height: 5%;
  width: 15%;
}

@media screen and (max-width: 480px) {
  * button {
    color: white;
    margin: auto;
    height: 4vh;
    width: 12vh;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    background-color: #D1512D;
  }

  * section {
      padding-top: 2.5vh;
  }
  .add-beer {
    text-align: center;
    margin: auto;
    margin-top: 60%;
    height: 50%;
    width: 60%;
    padding: 0vh;
  }
  .BeerFormPhoto {
    max-width: 100vh;
    height: 50vh;
    margin-top: 3vh;
  }

  .BeerForm-row {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
  }
  .BeerRecipeForm {
    max-width: 150%;
    text-align: left;
    width: 32vh;
    margin-bottom: 3vh;
  }
  .BeerRecipeForm input, .BeerRecipeForm select {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0px;
    border: 1px solid;
    box-sizing: border-box;
    margin-bottom: 14px;
    display: block;
    border-radius: 8px;
  }
  .BeerRecipeForm button {
    margin-top: 5%;
    height: 5%;
    width: 8em;
  }
  .Beer-Inventory-Setup {
    min-height: 47em;
    margin-top: auto;
    margin-bottom: auto;
  }
  .BeerList {
    max-width: 50vh;
    margin:  auto;
    margin-top: 6em;
    text-align: center;
    padding: 5px;
    font-size: 20px;
  }
  .BeerList h1 {
    font-size: 25px;
  }
  .BeerList button {
    margin-top: 5%;
    height: 3%;
    width: 20%;
    font-size: 10px;
  }
  .beerInfo-div {
    border: 2px solid #9A1663;
    width: 19em;
    border-radius: 8px;
    margin-bottom: 2em;
    padding-bottom: 8em;
  }

  .RecipeDetail {
    text-align: left;
    justify-content: center;
    display: inline-grid;
    align-items: center;
    padding-bottom: 2em;
    max-width: 50vh;
    margin:  auto;
    padding: 5px;
  }

  .beerInfo-div button {
    display: block;
    height: 4em;
    width: 6em;
  }
}

.react-datetime-picker__button {
  width: 30px;
  height: 50;
  border-radius: 10px;
}
